swagger: '2.0'
info:
  version: "0.1.0"
  title: French consultations portal platform providers endpoints definition, contributed by "Cap Collectif"
  description: >
    This document defines the API endpoints exposed by consultation providers for the French consultations portal platform, for enabling SaaS providers on-demand deployment facilities.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
host: 'api.infrastructure.cap-collectif.com'
basePath: '/'
schemes:
 - 'https'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api_key:
    type: apiKey
    name: 'X-Api-Key'
    in: header
security:
  -
    api_key: []
paths:
  /instances:
    get:
      description: |
        Gets the list of instances.
      parameters:
        - name: page
          in: query
          description: page number
          required: false
          type: integer
          default: 1
          minimum: 1
        - name: per_page
          in: query
          description: number of items per page
          required: false
          type: integer
          default: 100
          minimum: 10
          maximum: 200
        - name: status
          in: query
          required: false
          description: filter on the "status" field
          type: string
          enum:
            - requested # before the instance is created
            - running # for running instances
            - failure # if the instance could not be created.
            - terminated # if a termination request has been issued
        - name: createdAt
          in: query
          required: false
          description: filter on the "createdAt" field
          type: string
        - name: createdAt_gt
          in: query
          required: false
          description: filter items created after a given date
          type: string
        - name: createdAt_gte
          in: query
          required: false
          description: "filter items created after a given date, including this date"
          type: string
        - name: createdAt_lt
          in: query
          required: false
          description: filter items created before a given date
          type: string
        - name: createdAt_lte
          in: query
          required: false
          description: "filter items created before a given date, including this date"
          type: string
      security:
        -
          api_key: []
      tags:
        - Instances
        - MVP
      responses:
        200:
          description: Successful response, an array of Instances
          schema:
            $ref: "#/definitions/Instances"
          headers:
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              type: integer
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
    post:
      summary: Create a new instance
      description: |
        Creates a new instance request.
      parameters:
        - name: payload
          in: body
          description: payload representing the instance creation request
          required: true
          schema:
            $ref: "#/definitions/InstanceCreationRequest"
      security:
        -
          api_key: []
      tags:
        - Instances
        - MVP
      responses:
        200:
          description: The instance creation request, as it has been stored.
          schema:
            $ref: "#/definitions/Instance"
          headers:
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              type: integer
  "/instances/{instanceId}":
    get:
      summary: Get the detail of an instance
      description: This endpoint allows to retrieve the details of a given instance.
      parameters:
        - name: instanceId
          in: path
          description: id of the instance
          required: true
          type: string
          format: uuid
      security:
        -
          api_key: []
      tags:
        - Instances
        - MVP
      responses:
        200:
          description: Successful response, the details of an instance.
          schema:
            $ref: "#/definitions/Instance"
          headers:
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              type: integer
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
  "/instances/{instanceId}/terminations":
    get:
      description: |
        Gets the termination requests for a given instance
      parameters:
        - name: instanceId
          in: path
          description: id of the instance for which to get the terminations
          required: true
          type: string
          format: uuid
        - name: page
          in: query
          description: page number
          required: false
          type: integer
          default: 1
          minimum: 1
        - name: per_page
          in: query
          description: number of items per page
          required: false
          type: integer
          default: 100
          minimum: 10
          maximum: 200
        - name: status
          in: query
          required: false
          description: filter on the "status" field
          type: string
          enum:
            - requested # before the instance is terminated
            - cancelled # if the instance termination was cancelled
            - completed # if a deletion request has been issued
        - name: createdAt
          in: query
          required: false
          description: filter on the "createdAt" field
          type: string
        - name: createdAt_gt
          in: query
          required: false
          description: filter items created after a given date
          type: string
        - name: createdAt_gte
          in: query
          required: false
          description: "filter items created after a given date, including this date"
          type: string
        - name: createdAt_lt
          in: query
          required: false
          description: filter items created before a given date
          type: string
        - name: createdAt_lte
          in: query
          required: false
          description: "filter items created before a given date, including this date"
          type: string
      security:
        -
          api_key: []
      tags:
        - Instances Terminations
      responses:
        200:
          description: Successful response, an array of instance terminations
          schema:
            $ref: "#/definitions/InstanceTerminations"
          headers:
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              type: integer
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
    post:
      summary: Create a new instance termination request
      description: |
        Creates a new termination request for a given instance.
      parameters:
        - name: instanceId
          in: path
          description: id of the instance to terminate
          required: true
          type: string
          format: uuid
        - name: payload
          in: body
          description: payload representing the instance termination request
          required: true
          schema:
            $ref: "#/definitions/InstanceTerminationRequest"
      security:
        -
          api_key: []
      tags:
        - Instances Terminations
      responses:
        200:
          description: The instance termination request, as it has been stored.
          schema:
            $ref: "#/definitions/InstanceTermination"
          headers:
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              type: integer
  "/instances/{instanceId}/terminations/{terminationId}":
    delete:
      summary: Cancels an instance termination request
      description: >
        This endpoint allows to delete a given instance termination request.
      parameters:
        - name: instanceId
          in: path
          description: id of the instance
          required: true
          type: string
          format: uuid
        - name: terminationId
          in: path
          description: id of the instance termination request
          required: true
          type: string
          format: uuid
      security:
        -
          api_key: []
      tags:
        - Instances Terminations
      responses:
        '204':
          description: An empty response
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
    get:
      summary: Get the detail of an instance termination request
      description: This endpoint allows to retrieve the details of a given instance termination.
      parameters:
        - name: instanceId
          in: path
          description: id of the instance
          required: true
          type: string
          format: uuid
        - name: terminationId
          in: path
          description: id of the instance termination request
          required: true
          type: string
          format: uuid
      security:
        -
          api_key: []
      tags:
        - Instances Terminations
      responses:
        200:
          description: Successful response, the details of an instance.
          schema:
            $ref: "#/definitions/Instance"
          headers:
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              type: integer
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
definitions:
  Error:
    type: object
    properties:
      message:
        type: string
      errors:
        type: object
        additionalProperties: {}
  Instance:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
      domain:
        type: string
      organizationName:
        type: string
      adminEmail:
        type: string
        format: email
      adminName:
        type: string
      adminPhone:
        type: string
      metadata:
        type: object
        additionalProperties: {}
      status:
        type: string
        description: status of the instance
        enum:
          - requested # before the instance is created
          - running # for running instances
          - failure # if the instance could not be created.
          - terminated # if a termination request has been completed
      createdAt:
        type: string
        format: date-time
        description: Date and time of the creation of the instance
      updatedAt:
        type: string
        format: date-time
        description: Date and time of the last update of the instance
  InstanceCreationRequest:
    type: object
    required:
      - uuid
      - domain
      - organizationName
      - adminEmail
      - adminName
    properties:
      uuid:
        type: string
        format: uuid
      domain:
        type: string
      organizationName:
        type: string
      adminEmail:
        type: string
        format: email
      adminName:
        type: string
      adminPhone:
        type: string
      metadata:
        type: object
        additionalProperties: {}
  Instances:
    type: object
    required:
      - items
      - page
      - pageSize
      - total
    properties:
      items:
        type: array
        description: List of the items
        items:
          $ref: "#/definitions/Instance"
      total:
        type: integer
        minimum: 0
        default: 1
        description: Total count of items
      page:
        type: integer
        minimum: 1
        description: Current page of items
      pageSize:
        type: integer
        minimum: 1
        description: Number of items per page
      _links:
        $ref:  "#/definitions/PaginationLinks"
  InstanceTermination:
    type: object
    properties:
      uuid:
        type: string
        format: uuid
      instance:
        $ref: "#/definitions/Instance"
      reason:
        type: string
      status:
        type: string
        description: status of the instance
        enum:
          - requested # before the instance is terminated
          - cancelled # if the instance termination was cancelled
          - completed # if a deletion request has been issued
      deletionStartAt:
        type: string
        format: date-time
        description: Date and time from when the deletion could happen at any moment. The delay is the choice of the provider, but could be for instance 2 weeks.
      createdAt:
        type: string
        format: date-time
        description: Date and time of the creation of the instance
      updatedAt:
        type: string
        format: date-time
        description: Date and time of the last update of the instance
  InstanceTerminations:
    type: object
    required:
      - items
      - page
      - pageSize
      - total
    properties:
      items:
        type: array
        description: List of the items
        items:
          $ref: "#/definitions/InstanceTermination"
      total:
        type: integer
        minimum: 0
        default: 1
        description: Total count of items
      page:
        type: integer
        minimum: 1
        description: Current page of items
      pageSize:
        type: integer
        minimum: 1
        description: Number of items per page
      _links:
        $ref:  "#/definitions/PaginationLinks"
  InstanceTerminationRequest:
    type: object
    properties:
      reason:
        type: string
  PaginationLinks:
    type: object
    required:
      - self
      - first
      - last
    properties:
      self:
        type: string
        format: uri
        description: Current page
      first:
        type: string
        format: uri
        description: First page
      last:
        type: string
        format: uri
        description: Last page
      prev:
        type: string
        format: uri
        description: Previous page
      next:
        type: string
        format: uri
        description: Next page
